/*colors should be rgb or rgba for consistency*/

body{
    background-color: rgb(26, 26, 26);
}

#count{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

div{
    display: flex;
    justify-content:center;
    column-gap: 5vw;
}

button{
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: rgb(240, 255, 255);
    border-radius: 10%;
    height: 30px;
}